<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Smarthouse</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <!-- New pages goes here -->

                <li class="navbar-link">
                    <a href="/home">{{__ "Menu-Home"}}</a>
                </li>

                {{#if login}}
                    <li class="navbar-link">
                        <a href="/about">{{__ "Menu-About"}}</a>
                    </li>

                    <li class="navbar-link">
                        <a href="/security">{{__ "Menu-Security"}}</a>
                    </li>
                {{/if}}
            </ul>
            {{#if login}}
                {{> menubar-logged-in}}
            {{/if}}
        </div>
    </div>
</nav>

<!-- Menubar items hover -->
<script type="text/javascript">
    $(document).ready(function() {
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
    });
</script>