<!-- This file sets layout for all views -->

<title>Smarthouse</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel='stylesheet' href='External Libraries/calendar/fullcalendar/dist/fullcalendar.css'/>
<script src='/External Libraries/calendar/moment/min/moment.min.js'></script>
<script src='/External Libraries/calendar/fullcalendar/dist/fullcalendar.js'></script>

<script src='/External Libraries/calendar/fullcalendar/dist/locale/nb.js'></script>
<script src='/External Libraries/calendar/fullcalendar/dist/locale/en-au.js'></script>

<link rel='stylesheet' href='/External Libraries/dateTimePicker/build/css/bootstrap-datetimepicker.css'/>
<script src='/External Libraries/dateTimePicker/build/js/bootstrap-datetimepicker.min.js'></script>

<link rel='stylesheet' href='//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css'/>
<script src='//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js'></script>

<script src='//cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js'></script>
<link rel='stylesheet' href='//cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css'/>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>


<script src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<link rel='stylesheet' href='/css/views/dataTables.css'/>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.css'/>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.js'></script>

<link rel="stylesheet" href="/scripts/bootstrap-slider/dist/css/bootstrap-slider.min.css"/>
<script  src="/scripts/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

{{> menubar-items}}


<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-center no-padding">
            {{#if success_msg}}
                <div class="alert alert-success alert-dismissable">{{success_msg}}
                <button class="close" data-dismiss="alert">
                    <span aria-hidden="true">x</span>
                </button>
                </div>
            {{/if}}

            {{#if error_msg}}
                <div class="alert alert-danger alert-dismissable">{{error_msg}}
                    <button class="close" data-dismiss="alert">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
            {{/if}}

            {{#if error}}
                <div class="alert alert-danger alert-dismissable">{{error}}
                    <button class="close" data-dismiss="alert">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
            {{/if}}

            {{{ body }}}
        </div>
    </div>
</div>
