<link rel="stylesheet" href="css/views/login-register.css">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading" id="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">{{__ "Login-Form"}}</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">{{__ "Register-Form"}}</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="login" method="post" role="form" style="display: block;">
                                <div class="form-group input-group"><span class="input-group-addon">@</span>
                                    <input class="form-control" placeholder="Email" name="email" id="email" type="email"
                                           autofocus>
                                </div>
                                <div class="form-group input-group"><span class="input-group-addon"><i
                                        class="glyphicon glyphicon-lock"></i></span>
                                    <input class="form-control" placeholder="Password" name="password" id="password"
                                           type="password" value="" required="">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" id="login-submit"
                                                   class="form-control btn btn-login btn-primary" value="Log In">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="mailOrPasswordError" name="mailOrPasswordError" value="{{__ "Login-Error"}}" hidden>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="pull-right"><a href="#" id="forgotPasswordButton">{{__
                                                    "Login-Forgot-Password"}}</a></div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            {{> home-not-logged-in/register-new-user}}
                            {{> home-not-logged-in/forgot-user-password}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        $('#login-form-link').click(function (e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function (e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        $('#forgotPasswordButton').click(function (e) {
            e.preventDefault();
            $('div#form-forgotPassword').toggle('500');
            $("#login-form").fadeOut(100);
            $("#panel-heading").fadeOut(100);
        });

        $('#backToLoginForm').click(function (e) {
            e.preventDefault();
            $("#login-form").toggle("500");
            $("#panel-heading").toggle("500");
            $('div#form-forgotPassword').fadeOut(100);
        });
    });
</script>