<form id="forgot-form" action="/forgot" method="post" role="form" style="display: block;">
    <div class="form-group">
        <input type="text" name="email" id="email"  class="form-control" placeholder="Email" value="">
    </div>
    <input type="submit"  id="forgot-submit" class="form-control btn btn-login btn-primary" value="Send new password">
</form>
