<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>


<button id="lightOn">ON</button>
<button id="lightOff">OFF</button>

<script>
    var ledToggle = function(button){
        $.get("home/ledToggle", {button:button});
    };

    $("#lightOn").click(function() {
        ledToggle("on");
    });
    $("#lightOff").click(function(){
        ledToggle("off");
    });
</script>