<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>

<button id="lightOn">ON</button>
<button id="lightOff">OFF</button>

<script>
    $(document).ready(function(){
        var ledOn = function(){
            $.get("home/ledOn");
        }

        $("#lightOn").click(ledOn);
    });

    $(document).ready(function(){
        var ledOff = function(){
            $.get("home/ledOff");
        }

        $("#lightOff").click(ledOff);
    });
</script>