<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>

<button id="lightOn" name="button" value="on">ON</button>
<button id="lightOff" name="button" value="off">OFF</button>

<script>


        function ledToggle(){
            $.ajax({
                url: "home/ledToggle",
                type: "GET",
                data: {on: 'on', off: 'off'}
            })
        }

        /*var ledOff = function(){
            $.get("home/ledOff");
        };*/

        $("#lightOn").click(ledToggle);
        $("#lightOff").click(ledToggle);

</script>