<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>

<button id="lightOn" name="buttonOn">ON</button>
<button id="lightOff" name="buttonOff">OFF</button>

<script>
    $(document).ready(function(){
        var ledOn = function(){
            $.get("home/ledOn");
        };

        /*var ledOff = function(){
            $.get("home/ledOff");
        };*/

        $("#lightOn").click(ledOn);
        //$("#lightOff").click(ledOff);
    });
</script>