
<input type="submit" formmethod="post" formaction="/home" value="ON">
<button id="offButton">OFF</button>

<form method="POST">
    <input type="text" {name="name"}> <br>
    <input type="submit" value="Submit">
</form>

