<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>

<button id="lightOn" name="button" value="on"></button>
<button id="lightOff" name="button" value="off"></button>

<script>
    $(document).ready(function(){
        var ledToggle = function(){
            $.get("home/ledToggle");
        };

        /*var ledOff = function(){
            $.get("home/ledOff");
        };*/

        $("#lightOn").click(ledtoggle);
        $("#lightOff").click(ledToggle);
    });
</script>