<script src="http://code.jquery.com/jquery-2.0.0.min.js">

    function ledOn(){
        $.get("/home/ledOn");
    }

    function ledOff() {
        $.get("/home/ledOff");
    }

</script>

<button id="on">ON</button>
<button onclick="ledOff()">OFF</button>

<script>
    $.ready(function(){
        $("#on").click(ledOn());
    });
</script>