<button id="on">ON</button>
<button onclick="ledOff()">OFF</button>

<script src="http://code.jquery.com/jquery-2.0.0.min.js">
    $(document).ready(function(){
        var ledOn = function(){
            console.log("click nigga");
            $.get("/home/ledOn");
        };
        $("#on").click(ledOn);
    });
</script>