<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>

<button id="lightOn" value="on">ON</button>
<button id="lightOff" value="off">OFF</button>

<script>
        /*function ledToggle(button){
            $.ajax({
                url: "home/ledToggle",
                type: "GET",
                data: {button:button}
            })
        }*/

        var ledToggle = function(button){
            $.get("home/ledToggle", {button:button});
        };

        $("#lightOn").click(ledToggle("on"));
        $("#lightOff").click(ledToggle("off"));

</script>