<div id="changePasswordMessage" class="alert" style="display: none;"></div>
<div id="updateProfileMessage" class="alert" style="display: none;"></div>

{{> profile/userInformation}}
{{> profile/updatePassword}}