<link rel="stylesheet" href="/css/views/calendar.css">

<div class="panel">
    <div id="calendar">{{> calendar/fullCalendar}}</div>
</div>

{{> calendar/addEventModal}}
{{> calendar/updateEventModal}}
{{> calendar/delEventModal}}
{{> calendar/eventDescriptionModal}}