<script src="/js/calendarScript.js"></script>
<link rel="stylesheet" href="/css/calendar.css">
<div class="panel">
    <div id="calendar"></div>
</div>

{{> calendar/addEventModal}}
{{> calendar/updateEventModal}}
{{> calendar/delEventModal}}
{{> calendar/eventDescriptionModal}}