.pagination>li {
    display: inline;
    padding:0px !important;
    margin:0px !important;
    border:none !important;
}

#status {
    margin-top: 10px;
    height: 13px;
}

.glyphicon.glyphicon-ok {
    color: green;
    font-size: 100px;
    opacity: 0.8;
}

.table thead th{
    font-size: 15px;
    margin-bottom: 30px;
    height: 30px;
    width: 5%
}

.table thead th tr td {
    font-size: 20px;
    height: 93px;
    width: 5%
}
