#sensorInfoPanel {
    background-color: white;
    height: 325px;
}


#sensorAlerts {
    background-color: white;
    height: 325px;
}

#sensorAlerts h3{
    height:25px;
}

#eventList {
    background-color: white;
    height: 325px;
    margin-top: 10px;

}

#shoppingList{
    height:325px;
}

#openAddProductModalButton{
    margin-top:10px;
}

#eventDescription{
    word-wrap: break-word;
}


#hum {
    width: 10%
}

#temp {
    width: 10%
}

.productInput{
    list-style-type: none;
}

.glyphicon.glyphicon-ok {
    color: green;
    font-size: 100px;
    opacity: 0.8;
}