<link rel="stylesheet" href="css/chat.css">
<script>
    $(function () {
        var socket = io();
        var username = "{{loginFirstname}}";

        $("#openChatButton").click(function () {
            $("#chatPanel").modal("show")
        });

        $("#sendMessageButton").click(function () {
            socket.emit('message', username, $('#messageInput').val());
            $('#messageInput').val("");
        });

        //Listens for new messages emited from all clients.
        socket.on("message", function (user, msg) {
            if (user == username) {
                $('.chat').append('<li class="myMessages bg-success col-md-5"><h5 class="text-primary">' + '<strong>' + "{{__
                                "Chat-meSend"}}" + '</h5>' + '</strong>' + msg + '</li>');
            } else {
                $('.chat').append('<li class="otherMessages bg-warning col-md-5"><h5 class="text-danger">' + '<strong>' + user + '</h5>' + '</strong>' + msg + '</li>');
            }
        })
    });
</script>

<footer class="footer hidden-lg">
    <div id="footer" class="footer navbar-fixed-bottom">
        <button id="openChatButton" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-comment"></span>
            Chat
        </button>
    </div>
</footer>

<div id="chatPanel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">

            <div id="messageWindow" class="modal-body">
                <ul class="chat"></ul>
            </div>
            <div class="modal-footer">
                <div class="input-group">
                    <input id="messageInput" type="text" class="form-control input-sm"
                           placeholder="{{__ "Chat-Message-Input"}}"/><span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="sendMessageButton">Send</button>
                        </span>
                </div>
            </div>

        </div>
    </div>
</div>